<h1>Edit page</h1>

<form action="/bazinga/<%= data._id %>?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="order[name]" value="<%= data.name %>">
    <br>
    <br>
    <label for="email">Email</label>
    <input type="text" id="email" name="order[email]" value="<%= data.email %>">
    <p>Shipping address:</p>
    <ul style="list-style:none">
        <li>
            <label for="fullname">fullname</label>
            <input type="text" id="fullname" name="order[shipping_address.name]" value="<%= data.shipping_address.name %>">
        </li>
        <li>
            <label for="address1">address1</label>
            <input type="text" id="address1" name="order[shipping_address.address1]" value="<%= data.shipping_address.address1 %>">
        </li>
        <li>
            <label for="address2">address2</label>
            <input type="text" id="address2" name="order[shipping_address.address2]" value="<%= data.shipping_address.address2 %>">
        </li>
        <li>
            <label for="city">city</label>
            <input type="text" id="city" name="order[shipping_address.city]" value="<%= data.shipping_address.city %>">
        </li>
        <li>
            <label for="zip">zip</label>
            <input type="text" id="zip" name="order[shipping_address.zip]" value="<%= data.shipping_address.zip %>">
        </li>
        <li>
            <label for="phone">phone</label>
            <input type="text" id="phone" name="order[shipping_address.phone]" value="<%= data.shipping_address.phone %>">
        </li>
        <li>
            <label for="country_code">country code</label>
            <input type="text" id="country_code" name="order[shipping_address.country_code]" value="<%= data.shipping_address.country_code %>">
        </li>
    </ul>
    <button>Submit</button>
</form>
<%= data %>