<h1>This is the show page</h1>
<a href="/bazinga/<%= showData._id %>/edit">Edit order details</a>
<p>name: <%= showData.name %></p>
<p>email: <%= showData.email %></p>
<!-- <p>number: <%= showData.number %></p> -->
<p>price: <%= showData.total_price_usd %></p>
<p>user id: <%= showData.user_id %></p>
<p>phone number: <%= showData.phone %></p>
<p>order number: <%= showData.order_number %></p>`
<a href="/">Go Home</a>